<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="16.6.0" targetFramework="net461" />
  <package id="Bridge.Core" version="16.6.0" targetFramework="net461" />
  <package id="Bridge.Html5" version="16.6.0" targetFramework="net461" />
  <package id="Bridge.Ioc" version="1.0.3" targetFramework="net461" />
  <package id="Bridge.jQuery" version="2.11.0" targetFramework="net461" />
  <package id="Bridge.Messenger" version="1.0.0" targetFramework="net461" />
  <package id="Bridge.Min" version="16.6.0" targetFramework="net461" />
  <package id="Bridge.Navigation" version="1.0.1" targetFramework="net461" />
  <package id="Retyped" version="1.4.6556" targetFramework="net461" />
  <package id="Retyped.Core" version="1.4.6556" targetFramework="net461" />
  <package id="Retyped.dom" version="2.3.6556" targetFramework="net461" />
  <package id="Retyped.es5" version="2.3.6556" targetFramework="net461" />
  <package id="Retyped.knockout" version="3.4.6556" targetFramework="net461" />
  <package id="Retyped.scripthost" version="2.3.6556" targetFramework="net461" />
</packages>