<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="15.7.0" targetFramework="net452" />
  <package id="Bridge.Core" version="15.7.0" targetFramework="net452" />
  <package id="Bridge.Html5" version="15.7.0" targetFramework="net452" />
  <package id="Bridge.Ioc" version="0.0.5" targetFramework="net452" />
  <package id="Bridge.jQuery" version="2.9.3" targetFramework="net452" />
  <package id="Bridge.Messenger" version="0.0.2" targetFramework="net452" />
  <package id="Bridge.Min" version="15.7.0" targetFramework="net452" />
  <package id="Bridge.Navigation" version="0.1.5" targetFramework="net452" />
</packages>